.info {
	border-radius: 10px;
	background-color: #ab47bc;
	position: fixed;
	top: 10vh;
	left: 9%;
  	width: 80%;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem 1rem;
	align-items: center;
	justify-content: center;
	overflow: auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.info p {
  margin: 0;
}
.poster {
	width: 30%;
}

.poster img {
	width: 100%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.text {
	width: 60%;
	margin-left: 3%;
}

.text p {
	font-size: 1rem;
}

.x {
	font-weight: bold;
}

@media (max-width: 576px) {
	.text {
		width: 100%;
		padding-bottom: 1rem;
	}
	.info {
		position: fixed;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.poster {
		width: 100%;
		margin-bottom: 0.5rem;
		margin-top: 1.5rem;
	}
}

@media (max-width: 300px) {
	.poster {
		margin-top: 2rem;
	}
}

.close {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  opacity: 0.7;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


@media (min-width: 992px) { 
  .close {
    right: 10px;
    top: 12px;
  }
  .close:before, .close:after {
    height: 25px;
  }
}