.info {
	border: 2px solid black;
	border-radius: 10px;
	background-color: grey;
	position: fixed;
	top: 10vh;
	left: 9%;
  	width: 80%;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem 1rem;
	align-items: center;
	justify-content: space-around;
}

.info p {
  margin: 0
}
.poster {
	width: 25%;
}

.poster img {
	width: 100%;
}

.text {
	width: 65%;
}

.text p {
	font-size: 1rem;
}

.x {
	font-weight: bold;
}

@media (max-width: 576px) {
	.text {
		width: 100%;
	}
	.poster {
		display: none;
	}
	.poster img {
		width: 30%;
	}
	.info {
		position: fixed;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		margin: 0 auto;
		padding: 0;
	}
}
