.search {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

.search input {
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  border: none;
  width: 50%;
  border-bottom: 0.3rem solid transparent;
  margin-right: 1rem;
  border: 1px solid grey;
}

.search input::placeholder {
	color: black;
}


.search button {
	width: 20%;
	font-size: 1rem;
	color: white;
	text-align: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color:  #4a148c; 
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition-duration: 0.4s;
}
/* .search button::-moz-focus-inner {
   border: 0;
} */

.search button:hover {
  background-color: #7b1fa2;
  outline: none;
}

.search button:active {
	background-color: #ba68c8;
}

@media (max-width: 576px) {
	.search button {
		width: 30%;
	}
	.search input {
		margin-right: 5px;
		width: 55%;
	}
}


